#canvas
  #left
    .status-wrapper
      span.left
      #status-box
        .status-icon.busy
        .my-info
          p.name la cuturubrita loca
          p.message pam pararam
          a.status(href:"#")  
            span.label available
        .photo
          img(src:'/images/photo.png')
      span.right
    .accounts-wrapper
      #search-contact-box
        span.left
        span.center
          input(type:'text')
        span.right
      #my-accounts-box
        ul
          li
            a.account-icon.gtalk(href:"#") 
          li
            a.account-icon.facebook(href:"#")
          li
            a.account-icon.msn(href:"#")
      #buddy-list-box
        .sections-wrapper
          - each net in ['Chat', 'Gtalk', 'facebook']
            .buddy-list-section
              a.header(href:"#")
                span.header-icon(class: net.toLowerCase())
                span.header-label= net
                span.header-expand
              ul.buddy-list.available
                - for (var i=0; i < 4; i++)
                  - bg = (i%2==0) ? 'even' : 'odd'
                  li.buddy-item(class: bg)
                    span.status-icon
                    .buddy-info
                      p.name pumiprincipis
                      p.message el de las garritas
                    img.buddy-photo(src:'/images/buddies/'+((i%2==0) ? 1 : 2)+'.jpg')
              ul.buddy-list.busy
                - for (var i=0; i < 4; i++)
                  - bg = (i%2==0) ? 'even' : 'odd'
                  li.buddy-item(class: bg)
                    span.status-icon
                    .buddy-info
                      p.name pumiprincipis
                      p.message el de las garritas
                    img.buddy-photo(src:'/images/buddies/'+((i%2==0) ? 1 : 2)+'.jpg')
              ul.buddy-list.idle
                - for (var i=0; i < 4; i++)
                  - bg = (i%2==0) ? 'even' : 'odd'
                  li.buddy-item(class: bg)
                    span.status-icon
                    .buddy-info
                      p.name pumiprincipis
                      p.message el de las garritas
                    img.buddy-photo(src:'/images/buddies/'+((i%2==0) ? 1 : 2)+'.jpg')
              ul.buddy-list.idle
                - for (var i=0; i < 4; i++)
                  - bg = (i%2==0) ? 'even' : 'odd'
                  li.buddy-item.alone(class: bg)
                    span.status-icon
                    .buddy-info
                      p.name pumiprincipis
                      p.message &nbsp;
                    img.buddy-photo(src:'/images/buddies/'+((i%2==0) ? 1 : 2)+'.jpg')
              ul.buddy-list.offline
                - for (var i=0; i < 4; i++)
                  - bg = (i%2==0) ? 'even' : 'odd'
                  li.buddy-item(class: bg)
                    span.status-icon
                    .buddy-info
                      p.name pumiprincipis
                      p.message &nbsp;
                    img.buddy-photo(src:'/images/buddies/'+((i%2==0) ? 1 : 2)+'.jpg')
      .accounts-footer
  #right
    #chat-sessions
      .chat-session
        .span-left
        .session-header
          img.photo(src:'/images/photo-2.png')
          .my-info
            span.status-icon.busy
            .info
              p.name mascot one and mascot three
              p.message miauu miauuu miauuuu
            span.network-icon.gtalk
        .span-right
        .chat-panel
          .chat-buffer-wrapper
            .chat-buffer 
              .message-wrapper
                img.thumb(src:'/images/buddies/1.jpg')
                .message.odd
                  .message-single
                    p.single hola mi carita
                    p.time 12:09
              .message-wrapper
                img.thumb(src:'/images/buddies/8.jpg')
                .message.even
                  .message-single
                    p.single hola mi carita
                    p.time 12:09
              .message-wrapper
                img.thumb(src:'/images/buddies/1.jpg')
                .message.odd
                  .multi.odd
                    p.single hola mi carita
                    p.time 12:09
                  .multi.odd.last
                    p.single hola mi carita
                    p.time 12:09
              .message-wrapper
                img.thumb(src:'/images/buddies/8.jpg')
                .message.even
                  .multi.even
                    p.single hola mi carita
                    p.time 12:09
                  .multi.odd.last
                    p.single hola mi carita
                    p.time 12:09
          .send-message
            p.label typing...
            input(type:'text')
