html
  head
    link(rel: 'stylesheet', href: 'css/styles.css', type: 'text/css')
    link(rel: 'stylesheet', href: 'jquery.jgrowl.css', type: 'text/css')
    link(rel: 'stylesheet', href: 'smoothness/jquery-ui-1.8.7.custom.css', type: 'text/css')
    title= title
  body
    != body
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/jquery-1.4.2.min.js")
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/ui/jquery.ui.core.min.js")
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/ui/jquery.ui.widget.min.js")
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/ui/jquery.ui.dialog.js")
    script(type:"text/javascript", src:"/javascripts/thirdparty/strophe/strophe.min.js")
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/jgrowl/jquery.jgrowl_minimized.js")
    script(type:"text/javascript", src:"/javascripts/chat.js")