#client
  #connection-manager
    .connect
      a#connect-gmail(href:"#") Gmail
      a#connect-fb(href:"#") Facebook
    #cm-facebook
    #cm-gmail(style:"display:none")
      .username
        p.label Username:
        input(type:'text')
      .password
        p.label Password:
        input(type:'password')
      a.connect-btn(href:"#") Connect
#canvas
  #left(style:"display:none")
    .status-wrapper
      span.left
      #status-box
        .status-icon.busy
        .my-info
          p.name la cuturubrita loca
          p.message pam pararam
          a.status(href:"#")  
            span.label available
        .photo
          img(src:'/images/photo.png')
      span.right
    .accounts-wrapper
      #search-contact-box
        span.left
        span.center
          input(type:'text')
        span.right
      #my-accounts-box
        ul
          li
            a.account-icon.gtalk(href:"#") 
          li
            a.account-icon.facebook(href:"#")
          li
            a.account-icon.msn(href:"#")
      #buddy-list-box
        .sections-wrapper
          .buddy-list-section.chat
            a.header
              span.header-icon.chat
              span.header-label Chat
            .buddy-list-wrapper
              ul.buddy-list.chat
          - each net in ['Gtalk', 'facebook']
            .buddy-list-section(class: net.toLowerCase())
              a.header.down(href:"#")
                span.header-icon(class: net.toLowerCase())
                span.header-label= net
                span.click.header-expand
              .buddy-list-wrapper
                ul.buddy-list.available
                  li.buddy-item.layout
                    span.status-icon
                    .buddy-info
                      p.name pumiprincipis
                      p.message el de las garritas
                      p.full-message(style:"display:none;") el de las garritas
                    img.buddy-photo(src:'/images/buddies/2.jpg')
                ul.buddy-list.busy
                ul.buddy-list.idle
                ul.buddy-list.offline
      .accounts-footer
  #right
    #chat-sessions
      .chat-session.layout(style:"display:none")
        .span-left
        .session-header
          img.photo(src:'/images/photo-2.png')
          .my-info
            span.status-icon.busy
            .info
              p.name mascot one and mascot three
              p.message miauu miauuu miauuuu
            span.network-icon.gtalk
        .span-right
        .chat-panel
          .chat-buffer-wrapper
            .chat-buffer
              .message-new.me.layout(style:'display:none;')
                img.thumb(src:'/images/buddies/1.jpg')
                .message-buffer
                  .line.last
                    p.content hola mi carita
                    p.time 12:09
          .send-message
            p.label typing...
            input(type:'text')
#fb-root
