            .message-new.me.layout
              img.thumb(src:'/images/buddies/1.jpg')
              .message-buffer
                .line.last
                  p.content hola mi carita
                  p.time 12:09
            .message-new.me
              img.thumb(src:'/images/buddies/1.jpg')
              .message-buffer
                .line.last
                  p.content hola mi carita
                  p.time 12:09
            .message-new.buddy
              img.thumb(src:'/images/buddies/1.jpg')
              .message-buffer
                .line
                  p.content hola mi carita
                  p.time 12:09
                .line
                  p.content hola mi carita
                  p.time 12:09
                .line
                  p.content hola mi carita
                  p.time 12:09
                .line
                  p.content hola mi carita
                  p.time 12:09
                .line
                  p.content hola mi carita
                  p.time 12:09
                .line.last
                  p.content hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita hola mi carita
                  p.time 12:09
